.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 30px;
  height: 19px;
}

.burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background: white;
}

.burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
  background: white;
}

.burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: white;
}

.burger div {
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  transition: transform 0.3s, opacity 0.3s;
}

.burger div:nth-child(1) {
  top: 0;
}

.burger div:nth-child(2) {
  top: 8px;
}

.burger div:nth-child(3) {
  top: 16px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: "CabinetGroteskBold", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 80px;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
