.language-btn {
  padding-top: 12px;
}

.extern-website-btn {
  text-decoration: none;
}

.extern-website-btn:hover {
  text-decoration: underline;
}

.basic-btn {
  border: solid black 1px;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family:
    Roboto Mono,
    serif;
}

.basic-btn:hover {
  color: white;
  background: black;
  transition-duration: 0.3s;
}
