@font-face {
  font-family: "CabinetGroteskExtra";
  src: url("/src/fonts/CabinetGrotesk-Extrabold.woff2"),
    url("/src/fonts/CabinetGrotesk-Extrabold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGroteskBold";
  src: url("/src/fonts/CabinetGrotesk-Bold.woff2"),
    url("/src/fonts/CabinetGrotesk-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
